{:paths ["src"]

 ;; clj-http-lite straight from its git repo. Jolt ignores the org.clojure/clojure
 ;; dependency it declares; this library supplies the JVM host APIs clj-http-lite
 ;; needs (HttpURLConnection / URL / java.util.zip / javax.net.ssl) as Jolt host
 ;; shims, plus TLS (OpenSSL) and gzip (libz) through Janet's FFI bridge.
 :deps {org.clj-commons/clj-http-lite
        {:git/url "https://github.com/clj-commons/clj-http-lite"
         :git/sha "5bc2a98969b4926d090787baf9297fd73cea42d0"}}

 :aliases {:test {:extra-paths ["test"]
                  :main-opts ["-m" "jolt.http-client-test"]}}

 :tasks {test "jolt-deps -M:test"}}
